:root {
    --bg-clr: #1d1d1d;
    --bg-clr-alt: #2a2f4c;
    --pg-clr: #dfdfdfd2;
    --txt-clr: #878787;
    --txt-clr2: #9c9c9c;
    --primary-color: #FEC303;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    background-color: var(--bg-clr);
    font-family: 'Poppins', sans-serif;
    width: 100%;
}


/* Nav bar*/

.navbar {
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;
    margin-right: 2rem;
    opacity: 1;
    background-color: var(--bg-clr);
    box-shadow: 0 0 12px #0b0b0bfc;
    z-index: 1;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    font-size: 1.1rem;
}

.navbar ul li a {
    padding: 5px 17px;
    text-decoration: none;
    color: var(--pg-clr);
    transition: border-bottom ease 0.1s;
}

.navbar ul li a:hover {
    border-bottom: 3px solid var(--txt-clr);
    color: var(--primary-color);
    overflow: hidden;
}


/* Home */

#home-section {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    align-items: center;
    color: var(--txt-clr);
    top: 0;
    margin-top: 30px;
    text-align: center;
}

#home-section p {
    font-size: 1.2rem;
    max-width: 700px;
    color: var(--txt-clr2);
    line-height: 23px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
}

h1 {
    margin-top: 180px;
    font-size: 5.35rem;
    font-weight: bold;
}

h2 {
    margin-top: 8px;
    font-size: 2.7rem;
    color: var(--pg-clr);
}

.uil {
    font-size: 2rem;
}

.icons {
    height: 100px;
    margin-top: 40px;
    text-decoration: none;
    color: var(--txt-clr);
}

a {
    padding: 5px 17px;
    text-decoration: none;
    color: var(--pg-clr);
    transition: color ease 0.5s;
}

a:hover {
    color: var(--primary-color);
}

.title {
    color: var(--primary-color);
    font-size: 2.7rem;
    margin-top: 0px;
}

#projects-section {
    display: flex;
    flex-direction: column;
    /* height: 500px; */
    justify-content: center;
    align-items: center;
    color: var(--txt-clr);
    top: 0;
    z-index: -1;
    margin-top: 200px;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    grid-template-columns: auto auto;
    padding-left: 0px;
    margin-top: 40px;
}

.box {
    height: 300px;
    width: 300px;
    top: 0;
    background-color: var(--bg-clr);
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 20px #0b0b0bfc;
    transition: top ease 0.35s;
    position: relative;
}

.box:hover {
    top: -5px;
}

.box h2 {
    font-size: 1.75rem;
    margin-top: 10px;
}

.box p {
    margin-top: 20px;
    font-size: 1.1rem;
    line-height: 23px;
}

#proj1 {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: bold;
    margin-top: 25px;
}

#proj1i {
    margin-top: 25px;
}

#proj2 {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: bold;
    margin-top: 25px;
}

#proj2i {
    margin-top: 25px;
}

#skills {
    display: flex;
    flex-direction: column;
    height: 250px;
    padding-left: 400px;
    padding-right: 400px;
    justify-content: center;
    align-items: center;
    color: var(--txt-clr);
    top: 0;
    z-index: -1;
}

#skills h2 {
    font-size: 1.75rem;
    margin-top: 0px;
}

#skills ul {
    margin-top: 30px;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
}

.btn {
    padding: .8em 1.4em;
    box-shadow: 0 0 20px #181818f3;
    transition: top ease 0.35s;
    position: relative;
    top: 0;
    color: var(--pg-clr);
    font-weight: lighter;
    font-size: 1.1rem;
    margin-left: 7px;
    margin-right: 7px;
}

.btn:hover {
    top: -5px;
}

#experience {
    display: flex;
    flex-direction: column;
    height: 850px;
    justify-content: center;
    align-items: center;
    color: var(--txt-clr);
    z-index: -1;
    margin-top: 0px;
}


.experienceBox {
    margin-top: 50px;
    width: 850px;
    height: 225px;
}

.experienceBox h2 {
    margin-top: 0px;
    font-size: 2em;
    color: var(--pg-clr);
}

.experienceBox h3 {
    font-size: 1.4em;
    color: var(--primary-color);
    margin-top: 0.2em;
}

#exp2 {
    height: 205px;
}

@keyframes color-change {
    0% { color: red; }
    20% { color: orange; }
    40% { color: yellow; }
    60% { color: lime; }
    80% { color: lightskyblue; }
    100% { color: magenta; }
}

#easter {
    background-color: var(--bg-clr);
    box-shadow: 0 0 20px #181818f3;
    color: #FEC303;
}

#projects {
    display: block; 
    position: relative; 
    top: -8.5em; 
    visibility: hidden;
}

#home {
    display: block; 
    position: relative; 
    top: -11em; 
    visibility: hidden;
}

html::-webkit-scrollbar-track
{
	background-color: #181818f3;
}

html::-webkit-scrollbar
{
	width: 15px;
	background-color: #181818f3;;
}

html::-webkit-scrollbar-thumb
{
	background-color: #6d6d6d;
}
html::-webkit-scrollbar-thumb:hover
{
	background-color: #616161;
}

@media screen and (max-width: 480px) {
    .navbar {
      display: none;
    }
  }